
//头部的高度
h3 {
     &:extend(h6);
}
h6 {
	line-height: 50px;
}

@header-height: 50px;
header,.user-message{
	height:@header-height !important;
}
.user-message div {
	& span {
		margin: 9.5px auto;
	}
	& a {
		margin: 15px auto;
	}
}
//地图部分
@height:100%;
@overflow: hidden;
html,body{
	height:@height;
	overflow: @overflow;
}
.content {
	& #allmap {
		width: 100%;
		overflow: hidden;
	}
	& dl,dt,dd,ul,li{
		margin:0;
		padding:0;
		list-style:none;
	}
	& p{
		font-size:12px !important;
	}
	& dt{
		font-size:14px;
		font-family:"微软雅黑";
		font-weight:bold;
		border-bottom:1px dotted #000;
		padding:5px 0 5px 5px;
		margin:5px 0;
	}
	& dd{
		padding:5px 0 0 5px;
	}
	& li{
		line-height:28px !important;
	}
}