//iconfont的尺寸
@size: 22px !important;
.iconfont {
    font-size: @size;
}
// a标签下划线去掉
@decoration:none;
a:hover {
    text-decoration:@decoration !important;
}

//关于body与nav里面的ul
.suiku-nav ul {
    &:extend(body);
    list-style-type: none;
}
body {
    margin: 0;
    padding: 0;
}
//头部
@selector: header;
@{selector} {
    width: 100%;
    height: 84px;
    background-color: #3e6272;
}
//关于头部页面的字体
@margin: h3;
@{margin} {
    margin: 0 30px 0 20px;
}
@margin-h6: h6;
@{margin-h6} {
    margin: 0 40px 0 8px;;
    font-size: 16px;
    font-weight: bold;
}
//头部页面字体的样式相同
h3 {
     &:extend(h6);
}
h6 {
    line-height: 84px;
    float: left; 
    color: #e7f2f8;
}
//头部页面h6管理字体不同
h6{
    &.active {
        color: #ff6801;
    }
}
//头部页面的div
header {
    & .logo {
        float: left;
        width: 452px;
    }
    & .user-message{
        float: right;
        width: 200px;
        height: 84px;
        margin-right: 45px;
    }
}
//用户信息
.user-message div {
    & span{
        float: left;
        margin: 28px auto;
        color: #e7f2f8;
        font-size: 16px;
        font-weight: bold;
        line-height: 28px;
    }
    & a {
        float: left;
        margin: 31px auto;
        color:  #e7f2f8;
        font-weight: bold;
    }
}

//内容部分
@my-selector: .content;
@{my-selector} {
    width: 100%;
    height: 588px;
    background-color: #f0eff5;
}
.content {
    & .suiku-nav {
        width: 210px;
        float: left;
        margin: 20px 0 0 20px;
        border: 2px solid #cdcdcd;
        border-radius: 6px;
        background-color: #fff;
        height: 568px;
    }
    & .main {
        width: 1097px;
        float: right;
        height: 588px;
    }
}
//导航
.suiku-nav ul {
    height: 232px;
    & li {
        height: 58px;
        color: #262626;
        line-height: 58px;
        border-bottom: 2px solid #cecdd5;
        font-size: 14px;
    }
    & li:hover {
        background-color: #ff6801;
    }
    & li:nth-child(2){
        background-color: #ff6801;
    }
    & li a {
        color: #525252;
        float: left;
        margin-left: 52px;
    }
    & li span {
        float: right;
        font-size: 16px;
        color: #696969;
        font-weight: bold;
        text-align: center;
        margin-right: 52px;
    }
}
//内容的主要部分
.main-head {
    &:extend(.main-content);
    height: 48px;
    margin: 20px 0 20px 0;
}
.main-content {
    width: 1076px;
    border: 2px solid #e6e7e9;
    border-radius: 6px;
    background-color: #fff;
}
.main {
   &-content {
        height: 500px;
   }
}

//内容的头部部分
.main-head {
    & div {
       margin: 0 25px 0 25px;
    }
    & p {
        float: left;
        margin: 12px 25px 12px 25px;
        color: #2d2d2d;
        font-weight:bold;
        font-size: 16px;
    }
    & span {
        color: #ff6801;
    }
}
//主要部分的内容部分
.main-content{
    & div {
        margin: 10px 25px 10px 25px;
        height: 30px;
    }
    &  p {
        float: left;
        margin: 0;
        line-height: 30px;
    }
    & div span {
        float: left;
        display: block;
        width: 60px;
        height: 30px;
        text-align: center;
        margin-left: 60px;
        line-height: 30px;
        background-color: yellow;
    }
    //表格的div
    & div div:first-child {
         float: left;
         margin: 0;
    }
    & div div:first-child label {
        line-height: 30px;
        margin: 0;
        font-size: 14px;
        font-weight: normal;
    }
    & div div:first-child input {
        text-align: center;
        float: right;
        border-radius: 4px;
        border: 1px solid #72c3d6;
        height: 30px;
        color: #72c3d6;
    }
    & div div:last-child {
        width: 110px;
        height: 30px;
        border: 1px solid #72c3d6;
        margin: 0;
        border-radius: 4px;
        text-align: center;
        float: right;
    }
    & div div a {
        font-weight:bold;
        
        line-height: 30px;
    }
    & div div a:link {
        color: #FF0000;
    }
    & div div a:visited {
        color: #72c3d6;
    }
    & div div a:hover {
        color: #ff6801;
    }
    & div input {
        float: left;
    }
}

//内容表格
.table{
    width: 1026px;
    margin: 0 auto;
    & thead {
        width: 1000px;
        background-color: #6bc1d8; 
        margin: 0;
    }
    & thead tr {
        height: 40px;
        color: #fff;    
    }
    &  tbody {
        height: 404px;  
    }
    & tr td{
        text-align: center;
        border-bottom: solid 1px #cdcdcd;
        font-size: 14px;
    }
    & tr th {
        text-align: center;
        font-size: 14px;
    }
    & tr td a {
        color: #333;
    }
   
}